{
	"semi": false,
	"singleQuote": true,
	"quoteProps": "consistent",
	"useTabs": true,
	"tabWidth": 2,
	"trailingComma": "all",
	"singleAttributePerLine": false,
	"printWidth": 9999,
	"plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.astro",
			"options": {
				"parser": "astro"
			}
		}
	],
	"tailwindStylesheet": "./src/assets/styles/global.css"
}
