@layer components {
	.btn {
		@apply inline-flex items-center justify-center rounded-full border border-transparent px-4 pt-[0.46875rem] pb-[0.53125rem] text-center text-base font-semibold transition-colors select-none focus-visible:ring-4 focus-visible:outline-none;

		& > :where(img, svg) {
			@apply mt-0.25 size-4 shrink-0;
		}

		& > svg[stroke]:not([stroke='none']),
		& > svg *[stroke]:not([stroke='none']) {
			@apply stroke-current;
		}

		& > svg[fill]:not([fill='none']),
		& > svg *[fill]:not([fill='none']):not(.star-path) {
			@apply fill-current;
		}
	}

	.btn-icon-left {
		& > :where(img, svg) {
			@apply order-first mr-[0.375em] -ml-[0.25em];
		}
	}

	.btn-icon-right {
		& > :where(img, svg) {
			@apply order-last -mr-[0.25em] ml-[0.375em];
		}
	}

	.btn-icon-both {
		& > :where(img, svg):first-of-type {
			@apply order-first mr-[0.375em] -ml-[0.25em];
		}

		& > :where(img, svg):last-of-type {
			@apply order-last -mr-[0.25em] ml-[0.375em];
		}
	}

	.btn-magnet {
		@apply will-change-transform;

		transition:
			color var(--default-transition-duration) var(--default-transition-timing-function),
			background-color var(--default-transition-duration) var(--default-transition-timing-function),
			border-color var(--default-transition-duration) var(--default-transition-timing-function),
			outline-color var(--default-transition-duration) var(--default-transition-timing-function),
			text-decoration-color var(--default-transition-duration) var(--default-transition-timing-function),
			fill var(--default-transition-duration) var(--default-transition-timing-function),
			stroke var(--default-transition-duration) var(--default-transition-timing-function),
			--tw-gradient-from var(--default-transition-duration) var(--default-transition-timing-function),
			--tw-gradient-via var(--default-transition-duration) var(--default-transition-timing-function),
			--tw-gradient-to var(--default-transition-duration) var(--default-transition-timing-function),
			transform 250ms ease-out;
	}

	.btn-primary {
		@apply bg-primary text-white shadow-xs hover:bg-primary-dark focus-visible:bg-primary-dark focus-visible:ring-primary-lighter;
	}

	.btn-secondary {
		@apply bg-secondary text-white shadow-xs hover:bg-secondary-dark focus-visible:bg-secondary-dark focus-visible:ring-secondary-lighter;
	}

	.btn-tertiary {
		@apply bg-tertiary text-white shadow-xs hover:bg-tertiary-dark focus-visible:bg-tertiary-dark focus-visible:ring-tertiary-200;
	}

	.btn-outline {
		@apply border border-foreground/15 bg-transparent text-foreground hover:bg-foreground/5 focus-visible:bg-foreground/5 focus-visible:ring-foreground/10;
	}

	.btn-ghost {
		@apply bg-transparent hover:bg-foreground/5 focus-visible:bg-foreground/5 focus-visible:ring-foreground/10;
	}

	.btn-link {
		@apply rounded-none p-0! underline-offset-4 hover:underline focus-visible:underline focus-visible:ring-0;
	}

	.btn-group {
		@apply inline-flex;

		& > :where(.btn:not(:first-child)) {
			@apply -ml-px rounded-l-none!;
		}

		& > :where(.btn:not(:last-child)) {
			@apply rounded-r-none!;
		}

		& > .btn-outline + .btn-outline {
			@apply border-l-foreground/0;
		}

		& > .btn-primary {
			@apply z-10;
		}

		& > :where(:first-child) > :where(span) {
			@apply pl-1;
		}
		& > :where(:last-child) > :where(span) {
			@apply pr-1;
		}
	}
}

@utility btn-xs {
	@apply px-3 pt-[0.34375rem] pb-[0.40625rem] text-xs; /* py-1.5 / 6px / 0.375rem */

	& > :where(img, svg) {
		@apply mt-0.25 size-3;
	}
}

@utility btn-sm {
	@apply px-3.5 pt-[0.34375rem] pb-[0.40625rem] text-sm; /* py-1.5 / 6px / 0.375rem */

	& > :where(img, svg) {
		@apply mt-0.25 size-3.5;
	}
}

@utility btn-md {
	@apply px-4 pt-[0.46875rem] pb-[0.53125rem] text-base; /* py-2 / 8px / 0.5rem */

	& > :where(img, svg) {
		@apply mt-0.25 size-4;
	}
}

@utility btn-lg {
	@apply px-5 pt-2.25 pb-2.75 text-lg; /* py-2.5 / 10px / 0.625rem */

	& > :where(img, svg) {
		@apply mt-0.5 size-4.5;
	}
}

@utility btn-xl {
	@apply px-6 pt-3.25 pb-3.75 text-xl; /* py-3.5 / 14px / 0.875rem */

	& > :where(img, svg) {
		@apply mt-0.5 size-5;
	}
}

@layer components {
	.stars {
		& svg path[class] {
			@apply scale-0;
			paint-order: stroke;
		}

		& svg path:nth-child(1 of [class]) {
			@apply origin-center animate-twinkle;
			transform-box: fill-box;
		}

		& svg path:nth-child(2 of [class]) {
			@apply origin-center animate-twinkle;
			transform-box: fill-box;
			animation-delay: 0.6s;
		}

		& svg path:nth-child(3 of [class]) {
			@apply origin-center animate-twinkle;
			transform-box: fill-box;
			animation-delay: 1.2s;
		}
	}
}
