@theme {
	--color-gray-50: oklch(0.985 0.001 106.423);
	--color-gray-100: oklch(0.97 0.001 106.424);
	--color-gray-200: oklch(0.923 0.003 48.717);
	--color-gray-300: oklch(0.869 0.005 56.366);
	--color-gray-400: oklch(0.709 0.01 56.259);
	--color-gray-500: oklch(0.553 0.013 58.071);
	--color-gray-600: oklch(0.444 0.011 73.639);
	--color-gray-700: oklch(0.374 0.01 67.558);
	--color-gray-800: oklch(0.268 0.007 34.298);
	--color-gray-900: oklch(0.216 0.006 56.043);
	--color-gray-950: oklch(0.147 0.004 49.25);

	--color-gray-lightest: var(--color-gray-50);
	--color-gray-lighter: var(--color-gray-200);
	--color-gray-light: var(--color-gray-400);
	--color-gray: var(--color-gray-500);
	--color-gray-dark: var(--color-gray-600);
	--color-gray-darker: var(--color-gray-800);
	--color-gray-darkest: var(--color-gray-950);

	--color-primary-50: oklch(0.958 0.021 291.8);
	--color-primary-100: oklch(0.917 0.044 292.72);
	--color-primary-200: oklch(0.833 0.089 292.97);
	--color-primary-300: oklch(0.752 0.138 292.23);
	--color-primary-400: oklch(0.673 0.187 291.46);
	--color-primary-500: oklch(0.591 0.238 290.15);
	--color-primary-600: oklch(0.519 0.283 288.49);
	--color-primary-700: oklch(0.429 0.242 287.98);
	--color-primary-800: oklch(0.335 0.189 288.18);
	--color-primary-900: oklch(0.243 0.137 288.36);
	--color-primary-950: oklch(0.192 0.107 287.74);

	--color-primary-lightest: var(--color-primary-50);
	--color-primary-lighter: var(--color-primary-200);
	--color-primary-light: var(--color-primary-400);
	--color-primary: var(--color-primary-500);
	--color-primary-dark: var(--color-primary-600);
	--color-primary-darker: var(--color-primary-800);
	--color-primary-darkest: var(--color-primary-950);

	--color-secondary-50: oklch(0.959 0.021 10.3);
	--color-secondary-100: oklch(0.919 0.043 9.04);
	--color-secondary-200: oklch(0.839 0.091 9.8);
	--color-secondary-300: oklch(0.753 0.153 10.87);
	--color-secondary-400: oklch(0.674 0.219 11.96);
	--color-secondary-500: oklch(0.589 0.235 12.88);
	--color-secondary-600: oklch(0.501 0.2 12.85);
	--color-secondary-700: oklch(0.41 0.164 13);
	--color-secondary-800: oklch(0.327 0.131 12.87);
	--color-secondary-900: oklch(0.237 0.095 13.2);
	--color-secondary-950: oklch(0.187 0.075 13.3);

	--color-secondary-lightest: var(--color-secondary-50);
	--color-secondary-lighter: var(--color-secondary-200);
	--color-secondary-light: var(--color-secondary-400);
	--color-secondary: var(--color-secondary-500);
	--color-secondary-dark: var(--color-secondary-600);
	--color-secondary-darker: var(--color-secondary-800);
	--color-secondary-darkest: var(--color-secondary-950);

	--color-tertiary-50: oklch(0.958 0.023 299.44);
	--color-tertiary-100: oklch(0.917 0.047 300.26);
	--color-tertiary-200: oklch(0.828 0.101 300.37);
	--color-tertiary-300: oklch(0.748 0.152 300.35);
	--color-tertiary-400: oklch(0.661 0.213 300.65);
	--color-tertiary-500: oklch(0.585 0.269 300.48);
	--color-tertiary-600: oklch(0.492 0.26 300.6);
	--color-tertiary-700: oklch(0.4 0.211 300.66);
	--color-tertiary-800: oklch(0.302 0.159 300.75);
	--color-tertiary-900: oklch(0.223 0.118 300.57);
	--color-tertiary-950: oklch(0.176 0.094 300.97);

	--color-tertiary-lightest: var(--color-tertiary-50);
	--color-tertiary-lighter: var(--color-tertiary-200);
	--color-tertiary-light: var(--color-tertiary-700);
	--color-tertiary: var(--color-tertiary-800);
	--color-tertiary-dark: var(--color-tertiary-900);
	--color-tertiary-darker: var(--color-tertiary-950);
	--color-tertiary-darkest: var(--color-black);
}

:root {
	--gradient-base: linear-gradient(94.96deg, var(--color-tertiary) 0%, var(--color-primary) 24.3%, var(--color-secondary) 47.7%, var(--color-secondary) 52.3%, var(--color-primary) 75.7%, var(--color-tertiary) 100%);
	--gradient: var(--gradient-base);
}

@utility bg-gradient {
	background-image: var(--gradient);
	background-size: 200%;
	background-position: 0% 50%;
}

@utility bg-gradient-animate {
	@apply animate-gradient-x bg-gradient;
}

@utility text-gradient {
	@apply bg-gradient bg-clip-text text-transparent;
	/* background-size: 100%; */
}

@utility text-gradient-animate {
	@apply animate-gradient-x text-gradient;
	background-size: 200%;
}
