@layer components {
	.hubspot-form {
		@apply @container/form;

		input[type='text'],
		input[type='email'],
		input[type='password'],
		input[type='tel'],
		input[type='number'],
		input[type='url'],
		select,
		textarea {
			@apply block w-full rounded-sm border border-foreground-softer bg-input p-2.5 text-sm font-medium text-foreground focus:border-accent focus:ring-accent;
		}

		select:not([size]):not([multiple]) {
			@apply bg-no-repeat;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'/%3E%3Cpolyline points='80 176 128 224 176 176' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'/%3E%3Cpolyline points='80 80 128 32 176 80' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'/%3E%3C/svg%3E");
			background-size: 1em;
			background-position: right 0.75em center;
		}

		input[type='checkbox'],
		input[type='radio'] {
			@apply mr-2 size-4 border border-foreground-softer bg-input text-accent/80 focus:ring-accent/30;
		}

		input[type='checkbox'] {
			@apply rounded-xs;

			&:checked {
				@apply border-accent;
			}
		}

		input[type='radio'] {
			@apply rounded-full;

			&::before {
				@apply hidden;
			}

			&:checked {
				@apply border-accent;
			}
		}

		input[type='file'] {
			@apply block w-full text-sm;

			&::file-selector-button {
				@apply mr-3 ml-0 rounded-sm border border-foreground-softer bg-input px-3 py-2 text-foreground hover:bg-foreground/20 focus-visible:bg-foreground/20 focus-visible:ring-foreground/30;
			}
		}

		.form-columns-1,
		.form-columns-2 {
			@apply flex flex-col gap-x-4 @sm:flex-row;

			& > div {
				@apply grow;
			}
		}

		.hs-form-field {
			@apply mb-4;
		}

		label {
			@apply mb-2 inline-block text-sm/none font-semibold text-foreground-muted;
		}

		.input {
			@apply border-none bg-transparent;
		}

		.hs-fieldtype-checkbox > label,
		.hs-fieldtype-radio > label {
			@apply mb-3;
		}

		.hs-form-checkbox-display,
		.hs-form-radio-display,
		.hs-form-booleancheckbox-display {
			@apply flex items-center font-medium;
		}

		.hs-richtext {
			@apply text-xs/relaxed font-medium text-foreground-muted;

			a {
				@apply underline decoration-foreground/10 underline-offset-[0.3334em];
			}

			& + & {
				@apply mt-[1em];
			}

			& + div > .hs-dependent-field {
				@apply mt-[1em];
			}
		}

		.hs-submit {
			@apply mt-4;
		}

		input[type='submit'] {
			@apply inline-flex cursor-pointer items-center justify-center rounded-full border border-transparent bg-primary px-4 pt-[0.46875rem] pb-[0.53125rem] text-center text-base font-semibold text-white shadow-xs transition-colors select-none focus-visible:ring-4 focus-visible:outline-none;
			/* hover:bg-primary-dark focus-visible:bg-primary-dark focus-visible:ring-primary-lighter */
		}

		.actions {
			@apply flex justify-end;
		}

		.hsfc-Step__Content {
			@apply p-0!;
		}

		.hsfc-Row {
			@apply mb-4! gap-4!;

			& .hsfc-Row:last-child {
				@apply mb-0!;
			}
		}

		.hsfc-FieldLabel {
			@apply mb-2! inline-flex! font-sans! text-sm/none! font-semibold! text-foreground-muted!;
		}

		.hsfc-FieldLabel__RequiredIndicator {
			@apply ml-1! text-inherit!;
		}

		.hsfc-TextInput {
			@apply block rounded-sm! border! border-foreground-softer! bg-input! p-2.5! font-sans! text-sm! font-medium! text-foreground! transition-none! hover:shadow-none! focus:border-accent! focus:shadow-none! focus:ring-accent!;
		}

		.hsfc-DropdownInput > input {
			@apply bg-no-repeat!;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'/%3E%3Cpolyline points='80 176 128 224 176 176' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'/%3E%3Cpolyline points='80 80 128 32 176 80' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'/%3E%3C/svg%3E") !important;
			background-size: 1em !important;
			background-position: right 0.75em center !important;
		}

		.hsfc-DropdownInput__Caret {
			@apply hidden!;
		}

		.hsfc-DropdownOptions {
			@apply rounded-sm! border! border-foreground-softer! bg-background! font-sans! text-sm! font-medium! text-foreground!;
		}

		.hsfc-DropdownOptions__Search {
			@apply p-2.5!;
		}

		.hsfc-DropdownOptions__List__ListItem {
			@apply cursor-pointer! bg-background! px-2.5! py-2! text-foreground! filter-none! transition-colors!;
			/* hover:bg-primary-lightest/50! */
		}

		.hsfc-DropdownOptions__List__ListItem--selected {
			@apply text-primary!;
			/* bg-primary-lightest! hover:bg-primary-lightest! */
		}

		.hsfc-RadioFieldGroup__Options {
			@apply mt-1!;
		}

		.hsfc-RadioFieldGroup__Options > div {
			@apply flex!;

			&:not(:last-child) {
				@apply mb-2!;
			}
		}

		.hsfc-RadioFieldGroup__Options label {
			@apply mb-0! gap-2! font-medium!;
		}

		.hsfc-RadioInput {
			@apply size-4! border-foreground-softer! bg-input! text-accent/80! shadow-none! transition-none! focus:ring-accent/30! focus:outline-none!;

			&::after {
				@apply top-1/2! left-1/2! rounded-full! bg-white! mask-none!;
			}
		}

		.hsfc-TextareaInput {
			@apply block rounded-sm! border! border-foreground-softer! bg-input! p-2.5! font-sans! text-sm! font-medium! text-foreground! transition-none! hover:shadow-none! focus:border-accent! focus:shadow-none! focus:ring-accent!;
		}

		.hsfc-ErrorAlert {
			@apply mt-2! font-sans! text-sm! font-medium! text-red-500!;
		}

		.hsfc-RichText {
			@apply font-sans! text-xs/relaxed! font-medium! text-foreground-muted!;

			a {
				@apply underline decoration-foreground/10 underline-offset-[0.3334em];
			}
		}

		.hsfc-ProgressBar__Text {
			@apply mb-2! ml-0! font-sans! text-sm! font-semibold! text-foreground-muted!;
		}

		.hsfc-ProgressBar__Progress {
			@apply bg-foreground-soft!;
		}

		.hsfc-ProgressBar__Progress > div {
			@apply bg-tertiary!;
		}

		.hsfc-NavigationRow {
			@apply mt-8!;
		}

		.hsfc-Button {
			@apply inline-flex! items-center! justify-center! rounded-full! border! border-transparent! bg-primary! px-4! pt-[0.46875rem]! pb-[0.53125rem]! text-center! font-sans! text-base! font-semibold! text-white! shadow-xs! transition-colors! select-none! not-disabled:hover:transform-none! focus-visible:ring-4! focus-visible:outline-none! disabled:brightness-100!;
			/* hover:bg-primary-dark! focus-visible:bg-primary-dark! focus-visible:ring-primary-lighter! disabled:bg-primary-light! */
		}

		.hsfc-Step__Banner:empty {
			@apply hidden!;
		}
	}

	[data-theme='primary'] .hubspot-form select:not([size]):not([multiple]),
	[data-theme='secondary'] .hubspot-form select:not([size]):not([multiple]),
	[data-theme='tertiary'] .hubspot-form select:not([size]):not([multiple]) {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'/%3E%3Cpolyline points='80 176 128 224 176 176' fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'/%3E%3Cpolyline points='80 80 128 32 176 80' fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'/%3E%3C/svg%3E");
	}

	[data-theme='primary'] .hubspot-form input[type='submit'] {
		@apply bg-foreground text-background hover:bg-foreground-muted focus-visible:bg-foreground-muted focus-visible:ring-accent/30;
	}
}
