@layer utilities {
	.svg-current > svg,
	.svg-current > svg * {
		color: inherit;
		width: inherit;
		height: inherit;
	}

	.svg-current > svg [stroke]:not([stroke='none']) {
		@apply stroke-current;
	}

	.svg-current > svg [fill]:not([fill='none']) {
		@apply fill-current;
	}

	.svg-current > svg :where(path, circle, rect, polygon, ellipse):not([fill]):not([stroke]) {
		@apply fill-current;
	}
}
