@layer components {
	.input {
		@apply border border-foreground/10 bg-input text-foreground;
	}

	.input-search {
		@apply block w-full rounded-full pr-8 font-medium placeholder:text-foreground/50 focus:border-accent focus:ring-accent;
	}

	.input-text,
	.input-textarea {
		@apply block w-full rounded-sm font-medium focus:border-accent focus:ring-accent;
	}

	.input-select:not([size]):not([multiple]) {
		@apply block w-full rounded-sm bg-no-repeat pr-9 font-medium focus:border-accent focus:ring-accent;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'/%3E%3Cpolyline points='80 176 128 224 176 176' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'/%3E%3Cpolyline points='80 80 128 32 176 80' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'/%3E%3C/svg%3E");
		background-size: 1em;
		background-position: right 0.75em center;
	}

	[data-theme='primary'] .input-select:not([size]):not([multiple]),
	[data-theme='secondary'] .input-select:not([size]):not([multiple]),
	[data-theme='tertiary'] .input-select:not([size]):not([multiple]) {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'/%3E%3Cpolyline points='80 176 128 224 176 176' fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'/%3E%3Cpolyline points='80 80 128 32 176 80' fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'/%3E%3C/svg%3E");
	}

	.input-checkbox {
		@apply size-4 rounded-xs text-accent/80 focus:ring-accent/30;

		&:checked {
			@apply border-accent;
		}
	}

	.input-radio {
		@apply size-4 rounded-full text-accent/80 focus:ring-accent/30;

		&::before {
			@apply hidden;
		}

		&:checked {
			@apply border-accent;
		}
	}

	.input-file {
		@apply block w-full text-sm focus:border-accent focus:ring-accent;

		&::file-selector-button {
			@apply mr-3 ml-0 rounded-sm border border-foreground/10 bg-input px-3 py-2 text-foreground hover:bg-foreground/20 focus-visible:bg-foreground/20 focus-visible:ring-foreground/30;
		}
	}
}

@utility input-sm {
	@apply px-3.5 pt-[0.34375rem] pb-[0.40625rem] text-sm;
}

@utility input-md {
	@apply px-4 pt-[0.46875rem] pb-[0.53125rem] text-base;
}

@utility input-lg {
	@apply px-5 pt-2.25 pb-2.75 text-lg;
}
