@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-input: var(--input);
}

:root {
	--theme-default-background: var(--color-white);
	--theme-default-foreground: var(--color-gray-900);
	--theme-default-accent: var(--color-primary);
	--theme-default-accent-foreground: var(--color-white);
	--theme-default-card: var(--color-white);
	--theme-default-card-foreground: var(--color-gray-900);
	--theme-default-input: color-mix(in oklch, var(--color-gray-900) 1%, transparent);
	--theme-default-gradient: linear-gradient(94.96deg, var(--color-tertiary) 0%, var(--color-primary) 24.3%, var(--color-secondary) 47.7%, var(--color-secondary) 52.3%, var(--color-primary) 75.7%, var(--color-tertiary) 100%);
}

[data-theme='default'] {
	--background: var(--theme-default-background);
	--foreground: var(--theme-default-foreground);
	--accent: var(--theme-default-accent);
	--accent-foreground: var(--theme-default-accent-foreground);
	--card: var(--theme-default-card);
	--card-foreground: var(--theme-default-card-foreground);
	--input: var(--theme-default-input);
	--gradient: var(--theme-default-gradient);

	[data-card]:not(.outline-24 [data-card]) {
		--background: var(--color-tertiary-lightest);
		--input: var(--color-white);
	}
}

[data-theme='pale'] {
	--background: var(--color-gray-50);
	--foreground: var(--color-gray-900);
	--accent: var(--color-primary);
	--accent-foreground: var(--color-white);
	--card: var(--color-white);
	--card-foreground: var(--color-gray-900);
	--input: var(--color-white);
}

[data-theme='dots'],
[data-theme='dots-enhanced'] {
	--background: var(--color-tertiary-lightest);
	--foreground: var(--color-gray-900);
	--accent: var(--color-primary);
	--accent-foreground: var(--color-white);
	--card: var(--color-white);
	--card-foreground: var(--color-gray-900);
	--input: var(--color-white);
}

[data-theme='dots'] {
	@apply bg-size-[2.25rem] bg-top bg-repeat;
	background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2248%22%20height%3D%2248%22%20viewBox%3D%220%200%2048%2048%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Ccircle%20cx%3D%2223.5%22%20cy%3D%2223.5%22%20r%3D%221.5%22%20fill%3D%22black%22%20fill-opacity%3D%220.2%22/%3E%3C/svg%3E);
}

[data-theme='dots-enhanced'] {
	--dots-spacing: 36;
	--dots-radius: 1.125;
	--dots-influence: 360;
	--dots-max-push: 36;
	--dots-ease: 0.16;
	--dots-dot-color: rgb(0 0 0 / 0.2);

	@apply relative;
}

.dots-svg {
	@apply pointer-events-none absolute inset-0 -z-1 size-full;
}

.dots-dot {
	@apply fill-(--dots-dot-color);
}

[data-theme='primary'] {
	--background: var(--color-primary);
	--foreground: var(--color-white);
	--accent: var(--color-primary-lighter);
	--accent-foreground: var(--color-primary);
	--card: var(--color-white);
	--card-foreground: var(--color-gray-900);
	--input: color-mix(in oklch, var(--foreground) 3%, transparent);
	--gradient: linear-gradient(94.96deg, var(--color-tertiary-lighter) 0%, var(--color-secondary-light) 47.7%, var(--color-secondary-light) 52.3%, var(--color-tertiary-lighter) 100%);

	.btn-primary {
		@apply bg-foreground text-background hover:bg-foreground/80 focus-visible:bg-foreground/80 focus-visible:ring-accent/30;
	}

	[data-card] {
		--accent: var(--color-primary);
	}
}

[data-theme='secondary'] {
	--background: var(--color-secondary);
	--foreground: var(--color-white);
	--accent: var(--color-secondary-lighter);
	--accent-foreground: var(--color-secondary);
	--card: var(--color-white);
	--card-foreground: var(--color-gray-900);
	--input: color-mix(in oklch, var(--foreground) 3%, transparent);
	--gradient: linear-gradient(94.96deg, var(--color-tertiary-lighter) 0%, var(--color-primary-light) 47.7%, var(--color-primary-light) 52.3%, var(--color-tertiary-lighter) 100%);

	.btn-secondary {
		@apply bg-foreground text-background hover:bg-foreground/80 focus-visible:bg-foreground/80 focus-visible:ring-accent/30;
	}

	[data-card] {
		--accent: var(--color-secondary);
	}
}

[data-theme='tertiary'] {
	--background: var(--color-tertiary);
	--foreground: var(--color-white);
	--accent: var(--color-tertiary-lighter);
	--accent-foreground: var(--color-tertiary);
	--card: var(--color-white);
	--card-foreground: var(--color-gray-900);
	--input: color-mix(in oklch, var(--foreground) 3%, transparent);
	--gradient: linear-gradient(94.96deg, var(--color-primary-light) 0%, var(--color-secondary-light) 47.7%, var(--color-secondary-light) 52.3%, var(--color-primary-light) 100%);

	.btn-tertiary {
		@apply bg-foreground text-background hover:bg-foreground/80 focus-visible:bg-foreground/80 focus-visible:ring-accent/30;
	}

	[data-card] {
		--accent: var(--color-tertiary);
	}
}

[data-card] {
	--background: var(--theme-default-background);
	--foreground: var(--theme-default-foreground);
	--accent: var(--theme-default-accent);
	--accent-foreground: var(--theme-default-accent-foreground);
	--input: var(--theme-default-input);
	--gradient: var(--theme-default-gradient);
}

section:has(.dots-svg) {
	@apply isolate;
}

.dark {
	--background: var(--color-gray-900);
	--foreground: var(--color-gray-50);
	--accent: var(--color-primary-light);
	--accent-foreground: var(--color-white);
	--card: var(--color-gray-900);
	--card-foreground: var(--color-gray-50);

	[data-theme='default'] {
		--background: var(--color-gray-900);
		--foreground: var(--color-gray-50);
		--accent: var(--color-primary-light);
		--accent-foreground: var(--color-white);
		--card: var(--color-gray-900);
		--card-foreground: var(--color-gray-50);
	}

	[data-theme='pale'] {
		--background: var(--color-gray-800);
		--foreground: var(--color-gray-50);
		--accent: var(--color-primary-light);
		--accent-foreground: var(--color-white);
		--card: var(--color-gray-800);
		--card-foreground: var(--color-gray-50);
	}

	[data-theme='dots'],
	[data-theme='dots-enhanced'] {
		--background: color-mix(in oklch, var(--color-tertiary-darker) 25%, transparent);
		--foreground: var(--color-gray-50);
		--accent: var(--color-primary-light);
		--accent-foreground: var(--color-white);
		--card: var(--color-gray-900);
		--card-foreground: var(--color-gray-50);
	}

	[data-theme='dots-enhanced'] {
		--dots-dot-color: rgb(255 255 255 / 0.1);
	}

	[data-theme='dots'] {
		background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2248%22%20height%3D%2248%22%20viewBox%3D%220%200%2048%2048%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Ccircle%20cx%3D%2223.5%22%20cy%3D%2223.5%22%20r%3D%221.5%22%20fill%3D%22white%22%20fill-opacity%3D%220.2%22/%3E%3C/svg%3E);
	}

	[data-theme='primary'] {
		--background: var(--color-primary);
		--foreground: var(--color-white);
		--accent: var(--color-white);
		--accent-foreground: var(--color-primary-light);
		--card: var(--color-primary);
		--card-foreground: var(--color-white);
	}

	[data-theme='secondary'] {
		--background: var(--color-secondary);
		--foreground: var(--color-white);
		--accent: var(--color-white);
		--accent-foreground: var(--color-secondary-light);
		--card: var(--color-secondary);
		--card-foreground: var(--color-white);
	}

	[data-theme='tertiary'] {
		--background: var(--color-tertiary);
		--foreground: var(--color-white);
		--accent: var(--color-white);
		--accent-foreground: var(--color-tertiary-light);
		--card: var(--color-tertiary);
		--card-foreground: var(--color-white);
	}
}
